################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/bin
/ConsoleApplication1/obj
/WindowsFormsApplication2/bin/Debug
/WindowsFormsApplication2/obj/Debug
/WindowsFormsApplication2/bin/Release
/WindowsFormsApplication2/obj/Release
